---
---
$fa-font-path:   "../bower_components/fontawesome/fonts";

@import "_texture_mixin";
@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap";
@import "../bower_components/fontawesome/scss/font-awesome.scss";

// Variables
$orange: #d95c2f;
$grey: #67717a;
$blue: #6891ad;
$light-blue: #c2d7e0;
$almost-white: #f5f5f5;

// See http://www.paulirish.com/2012/box-sizing-border-box-ftw/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

img {
	max-width: 100%;
}

#header, #footer {
	background-color: $blue;
	color: $almost-white;
	a {
		color: $almost-white;
		text-decoration: none;
	}
}
.post-date {
	margin-top: -0.4em;
	font-weight: bold;
	color: grey;
}
.date-subtitle {
	display: block;
}

.footer--top {
	h1 {
		font-size: 1.2em;
	}
	@extend .container;
	margin-top:1em;
	margin-bottom:1em;
}
.footer--middle {
	h1 {
		font-size: 1.2em;
	}
	border-top: 1px solid $grey;
	background-color: $orange;
}
.footer--bottom {
	border-top: 1px solid $grey;
	background-color: $light-blue;
}


blockquote {
	@include texture($light-blue, 7, 1); 
	font-size: 1.5em;
	display: block;
	float: right;
	max-width: 350px;
	padding: 25px;
	margin: 25px;
	//margin-right: -150px;
	border-radius: 5px;
}