{% assign wordCount = content | number_of_words) %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{page.title}}</title>
        {% if page.description %}
          <meta name="description" content="{{ page.description }}" />
        {% endif %}

        {% if page.path contains '_posts' %}
          <!-- facebook open graph tags -->
          <meta property="og:type" content="article" />
          <meta property="og:site_name" content="{{ site.name }}">
          <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
          <meta property="og:title" content="{{page.title}}" />
          <meta property="og:description" content="{{ page.description }}" />

          <!-- twitter card tags additive with the og: tags -->
          <meta name="twitter:card" content="summary">
          <meta name="twitter:site" content="{{site.author_twitter}}" />
          <meta name="twitter:url" value="{{ site.url }}{{ page.url }}" />
          <meta name="twitter:title" value="{{page.title}}" />
          <meta name="twitter:description" value="{{ page.description }}" />
          <meta name="twitter:label1" value="Reading time" />
          <meta name="twitter:data1" value="🕒 {{ wordCount | divided_by: 200 | replace: '0', '<1' }} minutes" />
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
        <!-- build:css /css/style.css -->
        <link rel="stylesheet" href="/css/style.css">
        <!-- endbuild -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-43110335-1');ga('send','pageview');
        </script>
        <meta name="google-site-verification" content="Ie2d0Oy5dhnMbWcw7qg7PIeq3Wiv9X7GoyyL9pz39Eo" />
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        {% include header.html %}

        {{ content }}

        {% include footer.html %}

        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
    </body>
</html>
