---
layout: default
---
<div class="container">
  <div class="row">
      <div class="col-sm-9">
          <h1 class="page-title">{{ page.title }}</h1>
          <span class="text-muted">{{ page.date | date_to_string }}</span>, <span class="reading-time text-muted">{{ content | number_of_words | divided_by: 200}} minute read</span>
          <p>{{ page.tagline }}</p>
          {{ content }}
          <hr>

          {% include share_page.html %}
          {% include post_nav.html %}

          {% assign disqus_identifier = page.url | remove: ".html" | slugify %}
          {% include disqus.html %}
      </div>
      <div class="col-sm-3 border-left">
        {% include bio.html %}
      </div>
  </div>
</div>
