---
layout: null
---

// Variables
$orange: #d95c2f;
$grey: #67717a;
$blue: #6891ad;
$light-blue: #c2d7e0;
$almost-white: #f5f5f5;

// Fontawesome variables
$fa-font-path:   "../bower_components/fontawesome/fonts";

// Bootstrap variables
$navbar-default-color: $almost-white;
$navbar-default-bg: $blue;
$navbar-default-border: $light-blue;

// Grid
// Large screen / wide desktop - set same as standard desktop.
$container-large-desktop:      (940px + 30px);
$container-lg:                 $container-large-desktop;

// Navbar links
$navbar-default-link-color: $light-blue;
$navbar-default-link-hover-color: $blue;
$navbar-default-link-hover-bg: $light-blue;
$navbar-default-link-active-color: $blue;
$navbar-default-link-active-bg: $almost-white;
// $navbar-default-link-disabled-color:
// $navbar-default-link-disabled-bg:

// Navbar brand label
$navbar-default-brand-color: $almost-white;
$navbar-default-brand-hover-color: $light-blue;
$navbar-default-brand-hover-bg: $blue;

// Imports
@import "../_bower_components/bootstrap-sass/assets/stylesheets/_bootstrap";
@import "../_bower_components/fontawesome/scss/font-awesome.scss";

// See http://www.paulirish.com/2012/box-sizing-border-box-ftw/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

img {
	display: block;
	max-width: 100%;
	border-radius: 2px;
	box-shadow: 1px 1px 1px #CCC;
}

#header, #footer {
	background-color: $blue;
	color: $almost-white;
	a {
		color: $almost-white;
		text-decoration: none;
	}
}
.post-date {
	margin-top: -0.4em;
	font-weight: bold;
	color: grey;
}
.date-subtitle {
	display: block;
}

.footer--top {
	h1 {
		font-size: 1.2em;
	}
	@extend .container;
	margin-top:1em;
	margin-bottom:1em;
}
.footer--middle {
	h1 {
		font-size: 1.2em;
	}
	border-top: 1px solid $grey;
	background-color: $orange;
}
.footer--bottom {
	border-top: 1px solid $grey;
	background-color: $light-blue;
}


// Partially from oli.jp
// Make inline for small screens, otherwise float right
aside {
  display: block;
  max-width: 350px;
  padding: 0.25em;
  margin: 25px;border-left: .5em solid $light-blue;
  box-shadow: 0 0 6px rgba(0,0,0,0.5);

  @media (min-width: $screen-tablet) {
    float: right;
  }
  @media (min-width: $screen-desktop) {
    float: right;
    font-size: 1.5em;
  }

}

// From https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
