---
layout: default
---
<div class="container">
  <div class="row">
      <div class="col-sm-9">
        {% for post in site.posts limit:5 %}
          <div class="clearfix margin-bottom">
            <h3 class="post-title">
              <a href="{{post.url}}">{{ post.title}}</a>
            </h3>
            <div class="clearfix">
              <small class="pull-right date-subtitle">{{ post.date | date_to_string}}</small>
            </div>
            <div>
              {% if post.content contains "<!-- more -->" %}
                {{ post.content | split:"<!-- more -->" |  first % }}
              {% else %}
                {{ post.content | truncatewords:75, "&hellip;" }}
              {% endif %}
            </div>
            <a href="{{post.url}}" class="btn btn-sm btn-success">Read more</a> <span class="reading-time text-muted">{{ post.content | number_of_words | divided_by: 200 | replace: '0', '&lt;1' }} minute read</span>
          </div>
        {% endfor %}
      </div>
      <div class="col-sm-3 border-left">
        {% include bio.html %}
      </div>
  </div>
</div>

