@import 'nib'

// Max width for posts to be nice and readable
.container, .container-fluid
	max-width 750px
	margin-right auto
	margin-left auto

a, a:link
	cursor pointer

body
	padding-top 60px

table
	tfoot, tbody
		th
			border-top 1px solid #DDD

// Reset the background colour to override highlightjs (otherwise there's a funky border)
pre code
	background-color transparent
