/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

h2
  border-bottom: none

.footer
  padding: 2.5rem;
  border-top: 1px solid #eaecef;
  text-align: center;