<nav class="navbar navbar-default navbar-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Ryan Brooks</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {% assign nav_pages = (site.pages | where: "group" , "navigation") %}
        {% for node in nav_pages %}
          {% if page.url == node.url %}
            <li class="active"><a href="{{node.url}}" class="active">{{node.title}} <span class="sr-only">(current)</span></a></li>
          {% else %}
            <li><a href="{{node.url}}">{{node.title}}</a></li>
          {% endif %}
        {% endfor %}
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a class="nav-fa-link target="_blank" href="https://github.com/spikeheap"><i class="fa fa-2x fa-github-square"></i></a></li>
    		<li><a class="nav-fa-link target="_blank" href="https://twitter.com/spikeheap"><i class="fa fa-2x fa-twitter-square"></i></a></li>
    		<li><a class="nav-fa-link target="_blank" href="http://uk.linkedin.com/in/ryanpbrooks"><i class="fa fa-2x fa-linkedin-square"></i></a></li>
    		<li><a class="nav-fa-link target="_blank" href="mailto:ryanbrooksis+info@gmail.com"><i class="fa fa-2x fa-envelope-square"></i></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
